@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');


* {
    font-family: Roboto, sans-serif;
}

.contact-container h1 {
    margin-bottom: 0px;
    font-size: 3rem;
}

.contact-container {
    border-bottom: 1px solid black;
}

.contact-info {
  display: flex;
  align-items: center;
}

.contact-info > * {
  font-size: 1.5rem;
  margin-right: 10px;
}

.contact-info > div {
    display: flex;
    align-items: center;
}

.point {
    margin-right: 10px;
}

.education-info, .experience-info {
    display: flex;
    justify-content: space-between;
}

